@media screen and (max-width: 992px) {
  .about-1,
  .about-2 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@keyframes spin_01 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.home {
  min-height: 80vh;
  padding: 80px 0 80px 40px;
  background-color: #ff82a9;
  position: relative;
  z-index: 1;
}
.home-text h1 {
  font-size: 45px;
  font-weight: 700;
  color: white;
  margin: 0 0 20px;
}

.home-text p {
  font-size: 18px;
  line-height: 28px;
  color: white;
  margin: 0;
  font-weight: 300;
}
.home .home-btn {
  margin-top: 40px;
}
.home-img img {
  height: 70vh;
  width: 100%;

  animation: bounceTop_01 3s ease infinite;
}
.home-img {
  position: relative;
}
.home-img .circle {
  position: absolute;
  z-index: 1;
  height: 300px;
  width: 300px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.home-img .circle::before {
  content: "";
  position: absolute;
  height: 60px;
  width: 60px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  left: 30px;
  top: 30px;
  transform-origin: 130px 120px;
  animation: spin_01 10s linear infinite;
}
.custom-shape-divider-bottom-1621559190 {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1621559190 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-bottom-1621559190 .shape-fill {
  fill: #ffffff;
}

.about-1 .text h2 {
  color: #ff82a9;
  font-weight: 800;
  font-size: 2.7rem;
}
.about-1 .text h6 {
  color: #ff82a9;
  font-weight: 800;
  font-size: 1rem;
  letter-spacing: 2px;
}
.about-1 .text p {
  color: #ff82a9;
  font-weight: 400;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}
.about-2 {
  background-color: #ff82a9;
}

.about-2 .text h2 {
  color: white;
  font-weight: 800;
  font-size: 2.7rem;
}
.about-2 .text h6 {
  color: white;
  font-weight: 800;
  font-size: 1rem;
  letter-spacing: 2px;
}
.about-2 .text p {
  color: white;
  font-weight: 400;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}
.about-2 img {
  padding: 50px;
}
